PORT=3000

AWS_HOST=localhost
AWS_PORT=5433
AWS_DB=cloud_aws
AWS_USER=postgres
AWS_PASSWORD=postgres

GCP_HOST=localhost
GCP_PORT=5434
GCP_DB=cloud_gcp
GCP_USER=postgres
GCP_PASSWORD=postgres

AZURE_HOST=localhost
AZURE_PORT=5435
AZURE_DB=cloud_azure
AZURE_USER=postgres
AZURE_PASSWORD=postgres
