# ============================================================
# .env - Variables d'environnement
# NE PAS COMMITTER ce fichier sur GitHub !
# ============================================================

# Port de l'API
PORT=3000

# --- Cloud AWS (Master / Nœud Principal) ---
AWS_HOST=localhost
AWS_PORT=5433
AWS_DB=cloud_aws
AWS_USER=postgres
AWS_PASSWORD=postgres

# --- Cloud GCP (Réplica 1) ---
GCP_HOST=localhost
GCP_PORT=5434
GCP_DB=cloud_gcp
GCP_USER=postgres
GCP_PASSWORD=postgres

# --- Cloud Azure (Réplica 2) ---
AZURE_HOST=localhost
AZURE_PORT=5435
AZURE_DB=cloud_azure
AZURE_USER=postgres
AZURE_PASSWORD=postgres
